<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Thêm người dùng</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Thêm người dùng</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Tên người dùng</label>
                <input type="text" class="form-control" name="username" placeholder="Nhập tên người dùng" required>
            </div>
            <div class="form-group">
                <label for="fullName">Họ tên</label>
                <input type="text" class="form-control" name="fullname" placeholder="Nhập họ tên" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Nhập email" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu" required>
            </div>
            
            <div class="form-group">
                <label for="imageFile">Ảnh</label>
                <input type="file" class="form-control-file" name="imageFile" required>
            </div>
            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="/admin/user" class="btn btn-secondary">Hủy</a>
        </form>
    </div></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>