<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Người dùng</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Quản lý người dùng</h2>
        <a href="/admin/user/add" class="btn btn-success">Thêm người dùng</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID người dùng</th>
                    <th>Tên người dùng</th>
                    <th>Họ tên</th>
                    <th>Email</th>
                    <th>Mật khẩu</th>
                    <th>Ngày tạo</th>
                    <th>Vai trò</th>
                    <th>Ảnh</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${list}">
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.fullname}"></td>
                    <td th:text="${user.email}"></td>
                    <td>Đã mã hóa</td>
                    <td th:text="${user.createdAt}"></td>
                    <td th:text="${user.role}"></td>
                    <td><img th:src="'data:image/jpeg;base64,' + ${user.userImageUrl}" alt="ảnh lỗi" width="100"> </td>
                    <td>
                        <a th:href="@{/admin/user/edit/{userId}(userId=${user.userId})}" class="btn btn-primary btn-sm">Sửa</a>
                        <a th:href="@{/admin/user/delete/{userId}(userId=${user.userId})}" class="btn btn-danger btn-sm" onclick="return confirm('Có chắc muốn xóa không ní ?')">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div> </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>