<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Khóa học</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Quản lý khóa học</h2>
        <a href="/admin/course/add" class="btn btn-success">Thêm khóa học</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID khóa học</th>
                    <th>Tên khóa học</th>
                    <th>Miêu tả</th>
                    <th>Ngày tạo</th>
                    <th>Ảnh</th>
                    <th>Giảng viên</th>
                    <th>Giá</th>
                    <th>Thể loại</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="o : ${list}">
                    <td th:text="${o.courseId}"></td>
                    <td th:text="${o.title}"></td>
                    <td th:text="${o.description}"></td>
                    <td th:text="${o.createdAt}"></td>
                    <td><img th:src="'data:image/jpeg;base64,' + ${o.image_url}" alt="ảnh lỗi" width="100"> </td>
                    <td>
                        <span th:if="${o.teacher != null}" 
                              th:text="${o.teacher.fullname + ' (ID: ' + o.teacher.teacherId + ')'}">
                        </span>
                        <span th:if="${o.teacher == null}" 
                              class="badge badge-warning">
                            Chưa có giảng viên
                        </span>
                    </td>
                    <td th:text="${o.price}"></td>
                    <td>
                        <span th:if="${not #lists.isEmpty(o.categories)}">
                            <span th:each="category, iterStat : ${o.categories}">
                                <span th:text="${category.categoryName}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                            </span>
                        </span>
                        <span th:if="${#lists.isEmpty(o.categories)}">Chưa có thể loại</span>
                    </td>
                    
                    <td>
                        <a th:href="@{/admin/course/edit/{courseId}(courseId=${o.courseId})}" class="btn btn-primary btn-sm">Sửa</a>
                        <a th:href="@{/admin/course/delete/{courseId}(courseId=${o.courseId})}" class="btn btn-danger btn-sm" onclick="return confirm('Có chắc muốn xóa không ?')">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>