<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa phiếu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Chỉnh sửa phiếu</h2>
        <form method="post">
            <div class="form-group">
                <label for="description">ID Người dùng</label>
                <select th:field="*{clazz.userId}"  class="form-control">
                    <option th:each="o: ${userList}" th:value="${o.userId}" th:text="${o.username +' (ID =' + o.userId +')'}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">ID khóa học</label>
                <select name="courseId" class="form-control">
                    <option th:each="list: ${courseList}" th:value="${list.courseId}" th:text="${list.title + ' (ID=' + list.courseId+ ')'}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="enrolledDate">Ngày tạo</label>
                <input type="Date" class="form-control" th:field="*{enrolledDate}" required>
            </div>
            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="/admin/enrollments" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>