<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Phiếu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Quản lý phiếu đăng ký</h2>
        <a href="/admin/enrollments/add" class="btn btn-success">Thêm phiếu mới</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID Phiếu</th>
                    <th>ID người dùng</th>
                    <th>ID khóa học</th>
                    <th>Ngày tạo</th>
                    <th>Hành động</th>
                
                </tr>
            </thead>
            <tbody>
                <tr th:each="enroll : ${list}">
                    <td th:text="${enroll.enrollId}"></td>
                    <td th:text="${enroll.Clazz.username + ' (ID=' + enroll.Clazz.userId +')'}"></td>
                    <td th:text="${enroll.course.title + ' (ID=' + enroll.course.courseId +')'}"></td>
                    <td th:text="${enroll.enrolledDate}"></td>
                    <td>
                        <a th:href="@{/admin/enrollments/edit/{enrollId}(enrollId=${enroll.enrollId})}" class="btn btn-primary btn-sm">Sửa</a>
                        <a th:href="@{/admin/enrollments/delete/{enrollId}(enrollId=${enroll.enrollId})}" class="btn btn-danger btn-sm" onclick="return confirm('Có chắc muốn xóa không ní ?')">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>