<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Thêm giảng viên</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Thêm giảng viên mới</h2>

        <form  method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="fullname">Họ và tên</label>
                <input type="text" class="form-control" name="fullname"  required>
                <!-- <select name="user.userId" class="form-control">
                    <option th:each="o: ${userList}" th:value="${o.userId}" th:text="${o.username}"></option>
                </select> -->
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email"  required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" name="password"  required>
            </div>
          
            <div class="form-group">
                <label for="specialty">Chuyên ngành</label>
                <input type="text" class="form-control" name="specialty"  required>
            </div>
            <div class="form-group">
                <label for="imageFile">Ảnh</label>
                <input type="file" class="form-control" name="imageFile" required>
            </div>
            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="/admin/teacher" class="btn btn-secondary">Hủy</a>
        </form>
    </div></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>