<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Chỉnh sửa</h2>
        
        <form  method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fullname">Họ và tên</label>
                <input type="text" class="form-control" name="fullname" th:value="${teacher.fullname}"  required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" th:value="${teacher.email}" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" name="password"  required>
            </div>
            <div class="form-group">
                <label for="createdAt">Ngày tạo</label>
                <input type="date" class="form-control"  name="createdAt" th:value="${teacher.createdAt}" required>
            </div>
            <div class="form-group">
                <label for="specialty">Chuyên ngành</label>
                <input type="text" class="form-control" name="specialty" th:value="${teacher.specialty}"  required>
            </div>
            <div class="form-group">
                <label for="image_url">Ảnh</label>
                <input type="file" class="form-control-file" name="imageFile">
                <img th:src="'data:image/jpeg;base64,' + ${teacher.imageUrl}" thvalue="${teacher.imageUrl}" alt="Teacher Image" class="img-thumbnail mt-2" style="max-width: 200px;">
          
            </div>

            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="/admin/teacher" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>