<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa bài học</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
    <div class="container mt-5">
        <h2>Chỉnh sửa bài học</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="assignmentId">ID bài tập</label>
                <input type="number" class="form-control" name="assignmentId" th:value="${assignments.assignmentId}" required>
            </div>
            <div class="form-group">
                <label for="lessonId">ID bài học</label>
                <input type="number" class="form-control" name="lessonId" th:value="${assignments.lessonId}" required>
            </div>
            <div class="form-group">
                <label for="title">Tiêu đề</label>
                <textarea class="form-control" name="title" rows="3" required th:text="${assignments.title}"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Miêu tả</label>
                <textarea class="form-control" name="description" rows="3" required th:text="${assignments.description}"></textarea>
            </div>
            <div class="form-group">
                <label for="dueDate">Ngày hết hạn</label>
                <input type="date" class="form-control" name="dueDate" th:value="${assignments.dueDate}" required>
            </div>
            <div class="form-group">
                <label for="createdAt">Ngày tạo</label>
                <input type="date" class="form-control" name="createdAt" th:value="${assignments.createdAt}" required>
            </div>
            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="/admin/assignments" class="btn btn-secondary">Hủy</a>
        </form>
    </div></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>